<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1>Instructions:</h1>
    <h3>
      1. go to your library's website and order curbside pickup.
      2. they will give you a one time code which you put in the field provided.
    </h3>
    <a href="/customerrequestpage"><button>Back</button></a>
  </body>
</html>